Options -Indexes
IndexIgnore */*

Options FollowSymLinks

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteEngine On

RewriteRule ^admin(/.+)?$ backend/web/$1 [L,PT]
RewriteRule ^admin/(.+)?$ backend/web/$1 [L,PT]

RewriteRule ^sale(/.+)?$ sale/web/$1 [L,PT]
RewriteRule ^sale/(.+)?$ sale/web/$1 [L,PT]

RewriteRule ^factory(/.+)?$ factory/web/$1 [L,PT]
RewriteRule ^factory/(.+)?$ factory/web/$1 [L,PT]

RewriteRule ^cash(/.+)?$ cash/web/$1 [L,PT]
RewriteRule ^cash/(.+)?$ cash/web/$1 [L,PT]
RewriteRule ^(.+)?$ frontend/web/$1